/* You can add global styles to this file, and also import other style files */
:root {
  --subaster-main: rgb(13, 133, 84);
  --subaster-main-80: rgba(3, 133, 84, 0.8);
  --subaster-main-60: rgba(3, 133, 84, 0.6);
  --subaster-main-40: rgba(3, 133, 84, 0.4);
  --subaster-main-20: rgba(3, 133, 84, 0.2);
}
.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}
.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.snack-bar-success{
  z-index:99999!important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(59, 129, 59);
  color: white;
}

.snack-bar-alert{
  z-index:99999!important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #8d8d0b;
  color: white;
}

.snack-bar-loading{
  z-index:99999!important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
}

.snack-bar-error{
  z-index:99999!important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(159, 51, 51);
  color: white;
}
