<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-between align-items-start">
      <h1 class="d-flex flex-grow-1 fw-bold p-0 m-0" style="font-size: 24px">Unidades</h1>
      <button class="btn btn-success border border-success py-0" data-bs-toggle="modal" data-bs-target="#createModal">Añadir</button>
    </div>
    <div class="col-12">
      <div class="row">
        <app-create-modal
          title="Crear Unidad"
          label="Ingresa la nueva unidad"
          placeholder="Escriba la nueva unidad..."
          (callCreate)="createTarget($event)"
        ></app-create-modal>
        <app-update-modal
          title="Actualizar Unidad"
          label="Ingresa el nuevo nombre"
          (callUpdate)="updateTarget($event)"
          [idTarget]="targetUnity?.id_unity"
          [initialValue]="targetUnity?.publication_unity"
        ></app-update-modal>
        <div style="margin-top: 4vh">
          <div *ngFor="let unity of unities" class="col-12 mb-2 p-0 m-0 border-b border-success">
            <div class="row">
              <div class="col-12 d-flex justify-content-between w-100 py-4" style="border-bottom: 1px solid green">
                <p class="d-flex flex-grow-1">{{unity.publication_unity}}</p>
                <button (click)="targetUnity = unity" class="btn border border-success py-0" data-bs-toggle="modal" data-bs-target="#updateModal">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
